.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #ff6600;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #e65c00;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}


.Imagenes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 100px;
    background-color: black;
    width: 50%;

}

.box img {
    width: 100%
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1) {
    grid-column-start: span 2;

}

.box:nth-child(4) {
    grid-column-start: span 2;
     
}

@media(max-width: 991px) {
    .Imagenes {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .box:nth-child(1) {
        grid-column-start: span 1;
    }

    .box:nth-child(4) {
        grid-column-start: span 1;
    }
}